// global
body {
    background: $my-white;
    background: -webkit-linear-gradient(to bottom, $my-blue, $my-white);
    background: linear-gradient(to bottom, $my-blue, $my-white);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    min-height: calc(100vh - 233px);
}
footer {
    bottom: 0;
    width: 100%;
}
.debug {
    border: 1px solid black;
}
*{
    font-family: 'Patrick Hand SC', cursive;
    font-size: 25px;
    font-weight: 100;
}
