// non toccare, variabili di bootstrap!
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// impostare variabili globali successivamente

//colori, impostare successivamente

//font-family da cambiare una volta decisi

$font-primary: sans-serif;
$font-secondary: arial;

//font, verificare come rendono e in caso modificare
$font-xl: 25px;
$font-lg: 20px;
$font-md: 15px;
$font-sm: 10px;

//padding, verificare e adarttare
$padding-xl: 200px;
$padding-lg: 150px;
$padding-md: 100px;
$padding-sm: 50px;

//colors 
$yellow-mustard: #FDC944;
$orange-juice: #FF8E40;
$orange-mango: #FEA341;
$dark-light-blue: #3DB0B6;
$light-blue:#69BCBE;
$white-gray: #EDEAEB;


// JustMeals colori

$my-white: #EDEAEB;
$my-light-blue: #42ABAE;
$my-blue: #0D9BA3;
$my-orange: #FE8B10;
$my-dark-orange: #FF7211;
$my-mustard: #FBBC14;
$my-black: #323232;

