// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");



// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Fontawesome
$fa-font-path: "/fonts/font-awesome" !default;
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Variables
@import "variables";

// Mixins
@import "mixins";

// Partials
@import "front_general";