@import ".././variables.scss";

.admin-items-index {
    .create-container {
        height: 120px;
    }
    td > a {
        color: $my-black;
        text-decoration: underline;
    }
    .table thead th {
        border-bottom: none;
    }
    .table th,
    .table td {
        border-top: 1px solid $my-black !important;
    }
    .bottone-storto {
        position: relative;
        width: 250px;
        font-size: $font-lg;
        color: $my-black;
        .pos {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 203px;
        }
        .prospettiva {
            perspective: 100px;
            a:hover {
                background-color: transparent;
            }
            .storto {
                border: 3px solid $my-dark-orange;
                transform: rotateY(-9deg) rotateX(-11deg) rotateZ(-1deg)
                    translateX(-8px);
                transition: transform 0.5s;
                padding: 20px !important;
                display: block;
                &:hover {
                    transform: none;
                    border: 3px solid $my-dark-orange;
                    transition: 1s;
                }
            }
        }
    }
}

.admin-items-show {
    .bottone-storto {
        position: relative;
        width: 100px;
        font-size: $font-md;
        color: $my-black;
        .pos {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .prospettiva {
            perspective: 100px;
            a:hover {
                background-color: transparent;
            }
            .storto {
                border: 3px solid $my-dark-orange;
                transform: rotateY(-9deg) rotateX(-11deg) rotateZ(-1deg)
                    translateX(-8px);
                transition: transform 0.5s;
                padding: 10px !important;
                display: block;
                &:hover {
                    transform: none;
                    border: 3px solid $my-dark-orange;
                    transition: 1s;
                }
            }
        }
    }
    .mylabel {
        font-weight: 700;
    }
    .img-container {
        height: 200px;
        width: 200px;
        img {
            border-radius: 15px;
        }
    }
    p {
        font-style: oblique;
    }
    .tags {
        .h6 {
            list-style-type: none;
            border: 1px solid $my-black;
            min-width: 90px;
        }
    }
}
