@import "../variables.scss";

.admin-orders-index{
    padding: 50px 0;
    h1{
        text-align: center;
        margin-bottom: 30px;
    }

    .row{
        align-content: stretch;
        .colle{
            height: 100%;
            .order-card{
                height: 100%;
                background-color: $my-white;
                border-radius: 25px;
                padding: 15px;
                .tag{
                    color: $my-white;
                    width: auto;
                    display: inline-block;
                    border-radius: 10px;
                    text-align: center;
                    padding: 4px;
                }
                .confirmed-tag{
                    background-color: $my-blue;
                }
                .toconfirm-tag{
                    background-color: $my-orange;
                }
                .order-id{
                    text-decoration: none;
                    text-transform: uppercase;
                    cursor: pointer;
                    color: $my-black;
                    font-size: 1.35em;
                    text-align: center;
                    display: block;
                    &:hover{
                        color: $my-blue;
                    }
                    margin-top: 15px;

                }
                .btns{
                    padding: 15px 0;
                    display: flex;
                    justify-content: flex-end;
                    gap: 10px;
                    .edit-btn{
                        text-decoration: none;
                        display: block;
                        height: 100%;
                    }
                    .edit{
                        border: 2px solid $my-black;
                        &:hover{
                            border: 2px solid $my-light-blue;
                        }
                    }
                    button{
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .bold{
        font-weight: 700;
    }
}

